---
layout: default
title: "404: A Digital Dead End"
permalink: /404.html
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <div class="header-image"></div>
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
            <a class="blog-logo" href="{{ site.baseurl }}">
                <img src="{{ page.logo }}" alt="Blog Logo" />
            </a>
        {% endif %}
        <div class="nav-internal-links">
            {% include header.html %}
        </div>
        <div class="nav-row-bottom"></div>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.tagline %} {{ site.tagline }} {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    <article class="post" style="padding: 4rem 0; text-align: center;">
        <section class="post-excerpt">
            <p>I could tell you a joke about a broken link, but I don't think it would <i>get</i> anywhere.</p>
        </section>
    </article>
</main>
